<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First Name">
      <mat-hint>Pls enter a name</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name">
      <mat-hint>Pls enter a name</mat-hint>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button>Cancel</button>
  <button mat-button>Save</button>
</div>
