.radio-div {
  display: flex;
  flex-direction: column;

  mat-radio-group {
    display: flex;
    flex-direction: column;
  }
}

.price-div {
  mat-form-field {
    display: flex;
    align-items: flex-end;
    width: 20%;

    input {
      color: black;
    }
  }

  mat-label {
    font-size: 15px;
  }
}

mat-form-field {
  position: relative;

  mat-icon {
    font-size: 18px;
    padding: 0;
    margin-bottom: -5px;
  }
}
