<h1 mat-dialog-title>Add Transaction</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="mr-16" appearance="fill">
      <mat-label>First Name</mat-label>
      <input [disabled]="true" [(ngModel)]="user.firstName" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input [disabled]="true" [(ngModel)]="user.lastName" matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-Mail</mat-label>
      <input [disabled]="true" [(ngModel)]="user.email" matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input [disabled]="loading" [(ngModel)]="transaction.date" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="radio-div">
    <label id="example-radio-group-label">Transaction Model</label>
    <mat-radio-group [disabled]="loading" 
      [(ngModel)]="transactionVariant">
      <mat-radio-button *ngFor="let transactionVariant of transactionVariants"
        [value]="transactionVariant">
        {{transactionVariant.name}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="price-div">
    <mat-form-field class="mr-16" appearance="fill">
      <mat-icon matSuffix>euro</mat-icon>
      <input [(ngModel)]="transactionVariant.price" [disabled]="true" matInput>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button [disabled]="loading" (click)="this.dialogRef.close();" mat-button>Cancel</button>
  <button [disabled]="loading" (click)="saveTransaction()" mat-button>Save</button>
</div>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
