.add-user-button {
  position: fixed;
  right: 56px;
  bottom: 56px;
  transition: all 150ms ease-in-out;
  box-shadow: 0px 5px 10px -5px #000000, inset 0px -5px 15px -5px #000000;
  background-color: #447ae7;

  mat-icon {
    transition: all 150ms ease-in-out;
    color: rgb(255, 255, 255);
  }

  &:hover {
    transition: all 150ms ease-in-out;
    background-color: rgb(46, 74, 110);
    box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;
    transition: all 150ms ease-in-out;
  }
}

@media (max-width: 480px) {
  
  .add-user-button {
    left: 16px;
    bottom: 16px;
  }

  th {
    padding: 2px;
    font-size: 13px;
  }

  td {
    font-size: 12px;
    padding: 2px;
  }
}

