.add-user-button {
  position: absolute;
  top: 75px;
  right: 30px;
  padding: 0 20px;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  border-radius: 20px 20px 20px 20px;
  border-style: none;
  box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;
  margin-bottom: 20px;
  transition: all 150ms ease-in-out;
  background-color: #447ae7;
  color: white;
  z-index: 1;

  &:hover {
    transition: all 150ms ease-in-out;
    background-color: rgb(46, 74, 110);
    box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;
    transition: all 150ms ease-in-out;
  }

  mat-icon {
    color: white !important;
    transition: all 150ms ease-in-out;
  }

  &.active {
    transition: all 200ms ease-in-out;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #447ae7;

    mat-icon {
      color: white;
      transition: all 200ms ease-in-out;
    }
  }

  span {
    margin-left: 22px;
    font-size: clamp(0.9rem, 2vw, 1.0rem) !important;
    font-weight: bold;
  }
}

.filter-field {
  max-width: 250px;
}

.mat-elevation-z8 {
  min-width: fit-content;
}

mat-paginator {
  min-width: 100%;
}


@media (max-width: 480px) {
  .add-user-button {
    position: fixed;
    top: unset;
    right: unset;
    bottom: 40px;
    left: auto;
    padding: 15px 15px;

    span {
      display: none;
    }
  }

  th {
    padding: 2px;
    font-size: 13px;
  }

  td {
    font-size: 12px;
    padding: 2px;
  }
}

@media (min-width: 2000px) {
  .table-wrapper {
    padding: 0 20% !important;
  }
}
