<h1 mat-dialog-title>Edit User</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="mr-16" appearance="fill">
      <mat-label>First Name</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="First Name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Last Name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-Mail</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="E-Mail">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input [disabled]="loading" [(ngModel)]="birthDate" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button [disabled]="loading" (click)="this.dialogRef.close();" mat-button>Cancel</button>
  <button [disabled]="loading" (click)="saveUser()" mat-button>Save</button>
</div>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
