img {
  width: 40px;
  max-height: 42px;
  object-fit: cover;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

mat-card-header {
  padding: 0 10px;
}
