.crm-logo {
  width: 50px;
  object-fit: cover;
}

.firebase-logo {
  width: 200px;
  object-fit: cover;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

mat-card-header {
  align-items: center;
  padding: 0 10px;
}
