<div class="card-wrapper">
  <mat-card class="top-info-card">
    <mat-icon>assignment_ind</mat-icon>
    <mat-card-content>Users</mat-card-content>
    <span>Amount: </span>
  </mat-card>
  <mat-card class="top-info-card">
    <mat-icon>euro</mat-icon>
    <mat-card-content>Revenue</mat-card-content>
    <span>Amount: </span>
  </mat-card>
  <mat-card class="top-info-card">
    <mat-icon>monitoring</mat-icon>
    <mat-card-content>Transactions</mat-card-content>
    <span>Amount: </span>
  </mat-card>
</div>
