.card-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.top-info-card {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #939393;
  padding: 10px;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  color: white;

  &:nth-child(1) {
    background: linear-gradient(145deg, #447AE7 0%, #2d4e96 70%);
  }

  &:nth-child(2) {
    background: linear-gradient(145deg, #ffa200 0%, #c57d00 70%);
  }

  &:nth-child(3) {
    background: linear-gradient(145deg, #00df77 0%, #00a85a 70%);
  }

  span {
    font-size: clamp(1rem, 4vw, 1.8rem);
    font-weight: 500;
  }
}

.top-info-header {
  font-size: clamp(0.65rem, 2.5vw, 1.0rem);
  margin-top: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

mat-icon {
  color: white;
  transform: scale(2);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px -5px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .card-wrapper {
    gap: 10px;
  }

  .top-info-card {
    height: 28vw;
    width: 28vw;
    padding: 5px;
    gap: 10px;
  }

  mat-icon {
    transform: scale(1.5);
  }
}

@media (max-width: 480px) {

  .top-info-card {
    gap: 2px;

    span {
      margin-top: -10px;
    }
  }

  .top-info-header {
    margin-top: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  mat-icon {
    transform: scale(1.2);
  }
}

@media (min-width: 2000px) {

  .top-info-header {
    font-size: clamp(0.65rem, 1vw, 2.0rem);
    font-weight: 500;

  }

  .top-info-card {
    width: 33%;
    height: 10vw;
    padding: 20px;
    gap: 20%;

    span {
      font-size: clamp(0.5rem, 1.5vw, 3rem);
      font-weight: 500;
    }
  }

  mat-icon {
    transform: scale(3);
  }
}
