<div class="card-wrapper">
  <mat-card class="top-info-card">
    <mat-icon>assignment_ind</mat-icon>
    <mat-card-content class="top-info-header">Users</mat-card-content>
    <span>{{userCount}}</span>
  </mat-card>
  <mat-card class="top-info-card">
    <mat-icon>euro</mat-icon>
    <mat-card-content class="top-info-header">Revenue</mat-card-content>
    <span>{{allRevenue}}</span>
  </mat-card>
  <mat-card class="top-info-card">
    <mat-icon>receipt_long</mat-icon>
    <mat-card-content class="top-info-header">Transactions</mat-card-content>
    <span>{{transactionCount}}</span>
  </mat-card>
</div>
