mat-drawer {
  width: 250px !important;
}

.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
  color: black;
}

.sidenav {
  width: 300px;
  font-weight: 500;
  background-image: linear-gradient(0deg, #64b7e3 0%, #015090 100%);
  color: rgb(207, 207, 207);
  border: 0;
  border-radius: 0 20px 20px 0;
  box-shadow: 10px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;

}

.logo-container {
  display: flex;
  align-items: center;
  padding: 6px 16px 6px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 56px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 20px 20px 0;
  background-color: rgb(46, 74, 110);
  color: black;
  box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;

  span {
    background: linear-gradient(135deg, #c7811f 0%, #ee4455 100%);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 2px 10px 10px rgb(0 0 0 / 20%);
  }

  img {
    height: 40px;
    margin-right: 10px;
    box-shadow: 0px 10px 15px -10px #000000, inset 0px -5px 15px -10px #000000;
    border-radius: 50%;
  }
}

mat-toolbar,
mat-toolbar-row,
.mat-toolbar-multiple-rows {
  min-height: unset;
  height: 56px;
  padding: 0 8px;
}

.mat-toolbar.mat-primary {
  background-color: white;
}

.menu-items {
  list-style-type: none;
  padding: 120px 0 0 0;
  margin: 0;

  mat-icon {
    margin-right: 22px;
  }

  li {
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;
    margin-bottom: 20px;
    transition: all 150ms ease-in-out;
    width: 95%;
    background-color: mintcream;
    color: rgb(128, 128, 128);

    &:hover {
      transition: all 150ms ease-in-out;
      box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;
      color: rgb(255, 255, 255);
      background-color: #447ae7;

      mat-icon {
        color: white;
        transition: all 150ms ease-in-out;
      }
    }

    &:focus {
      transition: all 300ms ease-in-out;
      width: 100%;
      color: rgb(255, 255, 255);
      background-color: rgb(46, 74, 110);

      mat-icon {
        color: white;
        transition: all 300ms ease-in-out;
      }
    }
  }
}

.router-container {
  padding: 16px;
}
