<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      <img src="/assets/img/crm-logo.png" alt="">
      <span>SIMPLE CRM</span>
    </div>
    <ul class="menu-items">
      <li *ngIf="firebaseAuthModule.isLoggedIn" (click)="logout()" routerLink="/"><mat-icon class="mat-icon-blue">logout</mat-icon>Logout</li>
      <li *ngIf="!firebaseAuthModule.isLoggedIn" routerLink="/login"><mat-icon class="mat-icon-blue">login</mat-icon>Login</li>
      <li routerLink="/dashboard"><mat-icon class="mat-icon-blue">fact_check</mat-icon>Dashboard</li>
      <li routerLink="/user-data"><mat-icon class="mat-icon-blue">group</mat-icon>User Data</li>
      <li routerLink="/legal-notice"><mat-icon class="mat-icon-blue">info</mat-icon>Legal notice</li>
    </ul>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu-icon mr-16" (click)="drawer.toggle()">menu</mat-icon>
        <span></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
