.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
}

.sidenav {
  width: 300px;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 6px 16px 6px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 56px;
  font-weight: bold;
  font-size: 18px;
  background-image: linear-gradient( 135deg, #0aacd4 3%, #447ae7 33%, #8346fc 66% );
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;

  img {
    height: 40px;
    margin-right: 7px;
  }
}

mat-toolbar,
mat-toolbar-row,
.mat-toolbar-multiple-rows {
  min-height: unset;
  height: 56px;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;

  mat-icon {
    margin-right: 16px;
  }

  li {
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }

    &:focus {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}

.router-container {
  padding: 16px 56px;
}
