<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <a routerLink="/dashboard" class="logo-container">
      <img src="/assets/img/crm-logo.png" alt="">
      <span>SIMPLE CRM</span>
    </a>
    <ul class="menu-items">
      <div class="menu-items-top">
        <li *ngIf="!firebaseAuthModule.isLoggedIn" routerLink="/login" (click)="closeDrawerIfMobile()" routerLinkActive="active"><mat-icon
            class="mat-icon-blue">login</mat-icon>Login</li>
        <li routerLink="/dashboard" (click)="closeDrawerIfMobile()" routerLinkActive="active"><mat-icon
            class="mat-icon-blue">fact_check</mat-icon>Dashboard</li>
        <li routerLink="/user-data" (click)="closeDrawerIfMobile()" [class.active]="isUserDataActive()"><mat-icon
            class="mat-icon-blue">group</mat-icon>User Data</li>
      </div>
      <div class="menu-items-bottom">
        <li routerLink="/legal-notice" (click)="closeDrawerIfMobile()" routerLinkActive="active"><mat-icon class="mat-icon-blue">info</mat-icon>Legal
          notice</li>
        <li *ngIf="firebaseAuthModule.isLoggedIn" (click)="closeDrawerIfMobile()" (click)="logout()" routerLink="/"><mat-icon
            class="mat-icon-blue">logout</mat-icon>Logout</li>
      </div>
    </ul>
  </mat-drawer>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button class="menu-icon" (click)="drawer.toggle()" matTooltip="Toggle menu" mat-mini-fab color="primary"
          aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
