mat-drawer {
  width: 250px !important;
}

.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  transition: all 150ms ease-in-out;
  box-shadow: 0px 5px 10px -5px #000000, inset 0px -5px 10px -5px #000000;
  background-color: #447ae7;
  padding: 0 3px 2px 0;
  margin-left: 16px;
  &:hover {
    transition: all 150ms ease-in-out;
    background-color: rgb(46, 74, 110);
    box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;
    transition: all 150ms ease-in-out;
  }
}

.sidenav {
  width: 300px;
  font-weight: 500;
  background-image: linear-gradient(0deg, rgb(46, 74, 110) 0%, rgb(46, 74, 110) 100%);
  color: rgb(207, 207, 207);
  border: 0;
  border-radius: 0 20px 20px 0;
  box-shadow: 10px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;

}

.logo-container {
  display: flex;
  align-items: center;
  padding: 6px 16px 6px 12px;
  height: 56px;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;

  span {
    background: linear-gradient(135deg, #c7811f 0%, #ee4455 100%);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 2px 10px 10px rgb(0 0 0 / 20%);
  }

  img {
    height: 40px;
    margin-right: 10px;
    box-shadow: 0px 10px 15px -10px #000000, inset 0px -5px 15px -10px #000000;
    border-radius: 50%;
  }
}

mat-toolbar,
mat-toolbar-row,
.mat-toolbar-multiple-rows {
  min-height: unset;
  height: 56px;
  padding: 0 8px;
}

.mat-toolbar.mat-primary {
  background-color: white;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  list-style-type: none;
  padding: 80px 0 0 0;
  margin: 0;

  mat-icon {
    margin-right: 22px;
  }

  li {
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;
    margin-bottom: 20px;
    transition: all 150ms ease-in-out;
    width: 95%;
    background-color: mintcream;
    color: rgb(128, 128, 128);

    &:hover {
      transition: all 150ms ease-in-out;
      box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;
      color: rgb(255, 255, 255);
      background-color: #447ae7;

      mat-icon {
        color: white;
        transition: all 150ms ease-in-out;
      }
    }

    &.active {
      transition: all 200ms ease-in-out;
      width: 100%;
      color: rgb(255, 255, 255);
      background-color: #447ae7;

      mat-icon {
        color: white;
        transition: all 200ms ease-in-out;
      }
    }
  }
}

.router-container {
  padding: 0 32px;
}
