.header-card {
  display: flex;
  flex-direction: unset;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  padding: 12px;
  min-height: 200px;
  max-height: 200px;
  background: linear-gradient(135deg, #e21d79e8 25%, #e2231de5 66%, #e21ddbe8 100%);

  mat-icon {
    color: white;
  }
}

.profile-pic {
  width: 175px;
  border-radius: 100%;
  margin-right: 12px;
  border: 3px outset currentColor;
}

.address-card {
  margin-top: 30px;
}

mat-card {
  min-width: 500px;
}

mat-card-content {
  margin-left: 55px;
}

.edit-user {
  position: absolute;
  right: 6px;
  top: 6px;
}

.user-details {
  height: 100%;

  a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
    border-bottom: 0px solid transparent;

    &:hover {
      transition: all 0.1s ease-in-out;
      border-bottom: 1px solid black;
    }
  }
}

b {
  font-weight: 500;
}

.add-transaction-button {
  position: fixed;
  right: 56px;
  bottom: 56px;
  transition: all 150ms ease-in-out;
  box-shadow: 0px 5px 10px -5px #000000, inset 0px -5px 15px -5px #000000;
  background-color: #447ae7;

  mat-icon {
    transition: all 150ms ease-in-out;
    color: white;
  }

  &:hover {
    transition: all 150ms ease-in-out;
    background-color: rgb(46, 74, 110);
    box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;
    transition: all 150ms ease-in-out;
  }
}

.filter-field {
  max-width: 250px;
}

table {
  tr:not(thead) {
    cursor: unset;
  }
}

.table-wrapper {
  min-width: fit-content;
}

mat-paginator {
  min-width: 100%;
}

@media (max-width: 1050px) {

  .add-transaction-button {
    left: auto;
    margin-left: -15px;
    right: unset;
    bottom: 10px;
    z-index: 1;
  }
}

@media (max-width: 560px) {

  .profile-pic {
    margin-bottom: 20px;
  }

  .header-card {
    flex-direction: column;
    min-height: 200px;
    max-height: 350px;
  }

  mat-card {
    min-width: 318px;
  }

  th {
    padding: 2px;
    font-size: 13px;
  }

  td {
    font-size: 10px;
    padding: 2px;
  }
}

@media (max-width: 480px) {

  .mat-mdc-card-title,
  .mat-mdc-card-subtitle {
    padding: 6px !important;
  }
}

@media (min-width: 2000px) {
  .user-wrapper {
    padding: 0 20%;
  }
}
