<mat-card class="header-card">
  <img class="profile-pic" src="/assets/img/test-avatar.jpg" alt="">
  <div class="user-details">
    <h2>Sabrina Mustermann</h2>
    <a href="mailto:">SabrinaMustermann@gmx.de</a>
  </div>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><mat-icon fontIcon="verified_user"></mat-icon></div>
    <mat-card-title>Address</mat-card-title>
    <mat-card-subtitle>Germany</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>
