.user-wrapper {
  padding: 20px 0;
}

.header-card {
  display: flex;
  flex-direction: unset;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  padding: 12px;
  min-height: 200px;
  max-height: 200px;
  background: linear-gradient(135deg, #e21d79e8 25%, #e2231de5 66%, #e21ddbe8 100%);

  mat-icon {
    color: white;
  }
}

.profile-pic {
  width: 175px;
  border-radius: 100%;
  margin-right: 12px;
  border: 3px outset currentColor;
}

.address-card {
  margin-top: 30px;
}

mat-card {
  min-width: 500px;
}

mat-card-content {
  margin-left: 55px;
}

.edit-user {
  position: absolute;
  right: 6px;
  top: 6px;
}

.user-details {
  height: 100%;

  a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
    border-bottom: 0px solid transparent;

    &:hover {
      transition: all 0.1s ease-in-out;
      border-bottom: 1px solid black;
    }
  }
}

b {
  font-weight: 500;
}

.add-transaction-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 80px;
  right: 30px;
  padding: 0 20px;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  border-radius: 20px 20px 20px 20px;
  border-style: none;
  box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;
  margin-bottom: 20px;
  transition: all 150ms ease-in-out;
  background-color: #447ae7;
  color: white;
  z-index: 1;

  &:hover {
    transition: all 150ms ease-in-out;
    background-color: rgb(46, 74, 110);
    box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;
    transition: all 150ms ease-in-out;
  }

  mat-icon {
    color: white !important;
    transition: all 150ms ease-in-out;
  }

  &.active {
    transition: all 200ms ease-in-out;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #447ae7;

    mat-icon {
      color: white;
      transition: all 200ms ease-in-out;
    }
  }

  span {
    margin-left: 22px;
    font-size: clamp(0.9rem, 2vw, 1.0rem) !important;
    font-weight: bold;
  }
}

.filter-field {
  max-width: 250px;
}

table {
  tr:not(thead) {
    cursor: unset;
  }
}

.table-wrapper {
  min-width: fit-content;
}

mat-paginator {
  min-width: 100%;
}

@media (max-width: 580px) {
  .add-transaction-button {
    position: fixed;
    top: unset;
    right: unset;
    bottom: 40px;
    left: auto;
    padding: 15px 15px;
    min-width: 50px;

    span {
      margin-left: 10px;
      display: none;
    }

    ;
  }

  .profile-pic {
    margin-bottom: 20px;
  }

  .header-card {
    flex-direction: column;
    min-height: 200px;
    max-height: 350px;
  }

  mat-card {
    min-width: 318px;
  }

  th {
    padding: 2px;
    font-size: 13px;
  }

  td {
    font-size: 10px;
    padding: 2px;
  }
}

@media (max-width: 480px) {
  .mat-mdc-card-title,
  .mat-mdc-card-subtitle {
    padding: 6px !important;
  }
}

@media (min-width: 2000px) {
  .user-wrapper {
    padding: 20px 20%;
  }
}
