<mat-card>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>City</th>
    </tr>
    <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.id]">
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.city }}</td>
    </tr>
  </table>

  <!-- <mat-card-content>Simple card</mat-card-content> -->
</mat-card>

<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add user">
  <mat-icon class="mat-icon-blue">person_add</mat-icon>
</button>

