<mat-card>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>City</th>
    </tr>
    <tr>
      <td>dasdasd</td>
      <td>dasdasd</td>
      <td>dasdasd</td>
    </tr>
        <tr>
      <td>dasdasd</td>
      <td>dasdasd</td>
      <td>dasdasd</td>
    </tr>
  </table>

  <!-- <mat-card-content>Simple card</mat-card-content> -->
</mat-card>

<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add user">
  <mat-icon>add</mat-icon>
</button>
