mat-card {
  padding: 16px;
}

.add-user-button {
  position: absolute;
  right: 56px;
  bottom: 56px;
  background-color: rgb(46, 74, 110);
  box-shadow: 0px 10px 10px -10px #000000, inset 0px -5px 15px -10px #000000;
  transition: all 150ms ease-in-out;

  mat-icon {
    transition: all 150ms ease-in-out;
    color: rgb(255, 255, 255) !important;
  }

  &:hover {
    transition: all 150ms ease-in-out;
    box-shadow: 0px 5px 10px -5px #000000, inset 0px -5px 15px -5px #000000;
    background-color: #447ae7;
  }
}

.user-table {
  border-collapse: collapse;

  th {
    color: rgba(0, 0, 0, 0.33);
    text-align: start;

    &:first-child {
      padding-left: 16px;
    }
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:first-child {
      cursor: unset;

      &:hover {
        background-color: unset;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }

    td {
      height: 60px;

      &:first-child {
        padding-left: 16px;
      }
    }
  }
}
