@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

.dashboard-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
}

.dashboard-left, .dashboard-top-right {
  width: clamp(22rem, 88vw, 640px);
}
