@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

.dashboard-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.dashboard-left,
.dashboard-right {
  width: clamp(22rem, 88vw, 640px);
}

@media (min-width: 2000px) {

  .dashboard-main {
    align-items: flex-start;
    padding: 0 10vh;
  }

  .dashboard-left,
  .dashboard-right {
    width: clamp(22rem, 88vw, 48%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
