* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16 {
  margin-right: 16px;
}

.full-width {
  width: 100%;
}

.material-icons {
  font-size: 32px;
}

.mat-icon {
  height: unset!important;
  width: unset!important;
}
