* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16 {
  margin-right: 16px;
}

.full-width {
  width: 100%;
}

.material-icons {
  transform: scale(1.3);
}

.mat-icon-blue {
  height: unset !important;
  width: unset !important;
  background: linear-gradient(135deg, #0aacd4 0%, #447ae7 100%);
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
}

.material-icons {
  font-size: 26px;
}

mat-drawer-content, mat-toolbar-row, mat-toolbar, mat-drawer-container {
  background: #e2ebfc!important;
  // background-color: rgb(46, 74, 110)!important;
}

.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
 background: unset!important;
}

tr {
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.12)!important;
  }
}
