* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16 {
  margin-right: 16px;
}

.full-width {
  width: 100%;
}

.material-icons {
  transform: scale(1.3);
}

mat-icon {
  height: unset !important;
  width: unset !important;
  background: linear-gradient(135deg, #0aacd4 33%, #447ae7 66%, #8346fc 99%);
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
}
