.table-wrapper {
  margin-top: 20px;
  max-width: 640px;
}

h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: 0;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;
}

.mat-elevation-z8 {
  border-radius: 5px 5px 5px 5px;
  background: white;
}

mat-paginator {
  border-radius: 0 0 5px 5px;
}

@media (max-width: 480px) {
  td {
    font-size: 12px;
  }
}

@media (min-width: 2000px) {
  .table-wrapper {
    max-width: 100%;
  }
}
